extends base

block variables
  - var title = "INTERIOR LOUNGE — дизайн общественных пространств"

block content
  main.main.main-container
    section.project
      div.wrapper
        div.wysiwyg-wrapper
          h1 Дизайн общественных интерьеров
          h1 Посмотрим заголовок h1 с текстом на нескольких строках, стоит посмотреть как он будет переноситься, потому что заголовки могут быть длиннее, чем указал дизайнер в макете
          h2 Кейс клубного дома Tomazzi Hall
          h2 То же самое с заголовком второго уровня, посмотрим как будет смотреться текст на нескольких строках
          img(src=require("Images/hall@1x.jpg") width="1110" height="400" alt="Холл клубного дома Tomazzi Hall.")
          p Создать объект, подобного которому в Санкт-Петербурге еще не было, — такую задачу поставил перед собой девелопер #[strong Interior Lounge], продумывая клубный дом #[u Tomazzi Hall]. Над экстерьером комплекса работала команда одного из крупнейших архитектурных Бюро России — «Студия 11» разработал концепцию, а мы оформили интерьер 10 парадных и 3 лаунж-зон.
          p Заказчик знал команду, следил за нашей деятельностью, поэтому никого больше не рассматривал — поручил дизайн парадных и лаунж-зон нам. Основными моментами, на которые мы ориентировались, стали:
          p Повторим параграф, чтобы посмотреть отступы между двумя параграфами подряд. Повторим параграф, чтобы посмотреть отступы между двумя параграфами подряд. Повторим параграф, чтобы посмотреть отступы между двумя параграфами подряд.
          h3 Заголовок третьего уровня поставим где-нибудь и тоже напишем больше текста, чтобы он переносился на несколько строк и мы сразу проверили переполнение:
          ul
            li Источники вдохновения планировалось искать в строгой геометрии, модерне и духе «ревущих двадцатых». Источники вдохновения планировалось искать в строгой геометрии, модерне и духе «ревущих двадцатых». Источники вдохновения планировалось искать в строгой геометрии, модерне и духе «ревущих двадцатых»;
            li Необходимо было выдержать дорогой и одновременно элегантный стиль;
            li Ключевой элемент дизайна любого общественного пространства — удобство для жителей.
          p Добавим параграф после списка, чтобы посмотреть отступы после списка. Добавим параграф после списка, чтобы посмотреть отступы после списка. Добавим параграф после списка, чтобы посмотреть отступы после списка.
          img(src=require("Images/stairs@1x.jpg") width="540" height="350" alt="Вид на лестницу.")
          img(src=require("Images/elevator@1x.jpg") width="540" height="350" alt="Вид на лифт.")
          h2 Начало работы и источники вдохновения
          p Над экстерьером комплекса работала команда одного из крупнейших архитектурных бюро России — «Студия 11», а мы оформили интерьер 10 парадных и 3 лаунж-зон.
          p Заказчик знал команду, следил за нашей деятельностью, поэтому никого больше не рассматривал — поручил дизайн парадных и лаунж-зон нам.
          blockquote «Нам хотелось поддержать внешнюю архитектурную концепцию, но внутри добавить что-то необычное. Сделать некое подобие матрешки, чтобы все время открывались новые смыслы и элементы».
          p Добавим параграф после цитаты, чтобы посмотреть отступ после цитаты. Добавим параграф после цитаты, чтобы посмотреть отступ после цитаты. Добавим параграф после цитаты, чтобы посмотреть отступ после цитаты. Добавим параграф после цитаты, чтобы посмотреть отступ после цитаты. Добавим параграф после цитаты, чтобы посмотреть отступ после цитаты.

    section#reviews.feedback-form
      div.feedback-form__wrapper.wrapper
        h2.feedback-form__title Оставить отзыв
        form.feedback-form__form.form
          label.form__field
            span.visually-hidden Напишите о своих впечатлениях
            textarea.form__textarea(name="user-review" placeholder="Расскажите, что вы думаете о проекте" rows="5" required)
          label.form__field
            span.visually-hidden Введите имя
            input.form__input(type="text" name="user-name" placeholder="Ваше имя" required)
          div.form__button-wrapper
            button.form__button(type="submit") Отправить
            span.form__warning Отзыв будет добавлен после #[br] проверки модератором

    section.reviews
      div.reviews__wrapper.wrapper
        div.reviews__list
          blockquote.reviews__item
            div.reviews__photo-wrapper
              img.reviews__photo(src=require("Images/user1@1x.png") width="50" height="50" alt="")
              span.visually-hidden Фотография пользователя.
            p.reviews__name Иван Грачев
            p.reviews__text Очень самобытный и необычный проект.
          blockquote.reviews__item
            div.reviews__photo-wrapper
              img.reviews__photo(src=require("Images/user2@1x.png") width="50" height="50" alt="")
              span.visually-hidden Фотография пользователя.
            p.reviews__name Мария Рачинская
            p.reviews__text Мне особенно понравилось решение лестничных клеток. #[br] Кружки вообще очень стильные!
          blockquote.reviews__item
            div.reviews__photo-wrapper
              img.reviews__photo(src=require("Images/user3@1x.png") width="50" height="50" alt="")
              span.visually-hidden Фотография пользователя.
            p.reviews__name Светлана
            p.reviews__text Очень нравится, что в городе развиваются такие проекты. Надеюсь, такие проекты скоро будут не только в частных домах, но и в кафе, музеях, театрах. #[br] Я бы сходила!
